<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <title>
        To-do
    </title>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <ul class="nav justify-content-left">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">To-Do List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/zip">Zip Codes</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="row">
            <div class="col-12">
                <h1>
                    My To-do list
                </h1>
                <form action="/addToDo" method="POST">
                    <input type="text" name="newtodo" placeholder="add new item ">
                    <button type='submit'>
                        Add To-Do
                    </button>
                    <h2>
                        Current Tasks
                    </h2>
                    <% for(var i=0; i< tasks.length; i++){ %>
                        <li><input type="checkbox" name="check" value="<%= tasks[i]._id %>" />
                            <%= tasks[i].item %>
                        </li>
                        <%} %>

                            <button formaction="/removeToDo" type="submit">
                                Remove
                            </button>
                </form>
                <form action='/deleteToDo' method="POST">
                    <h2>
                        Completed Tasks
                    </h2>
                    <% for(var i=0; i< completed.length; i++){ %>
                        <li><input type="checkbox" name="delete" value="<%= completed[i]._id %>" />
                            <%= completed[i].item %>
                        </li>
                        <% } %>
                            <button formaction='/deleteToDo' type="submit">
                                Delete
                            </button>
                </form>
            </div>
        </div>

    </div>

</body>

</html>