<html>
    <head>
        <title>
            To-do
        </title>
        <link href="/styles.css" rel="stylesheet">
    </head>
    <body>
        <h1>
            My to-do list
        </h1>
        <form action="/addToDo" method="POST">
            <input type="text" name="newtodo" placeholder="add new item">
            <button>
                Add To-Do
            </button>
            <h2>
                Added To-do
            </h2>
            <button formaction="/removeToDo" type="submit">
                Remove
            </button>
        </form>
        <h2>
            Completed
        </h2>
    </body>
</html>