<html>

<head>
    <title>
        To-do
    </title>
    <link href="/styles.css" rel="stylesheet">
</head>

<body>
    <h1>
        My to-do list
    </h1>
    <form action="/addToDo" method="POST">
        <input type="text" name="newtodo" placeholder="add new item">
        <button type="submit">
            Add To-Do
        </button>
        <h2>
            Current Tasks
        </h2>
        <% for( var i=0; i< tasks.length; i++){ %>
            <li><input type="checkbox" name="check" value="<%= tasks[i] %>" />
                <%= tasks[i] %>
            </li>
            <% } %>
                <button formaction="/removeToDo" type="submit">
                    Remove
                </button>
    </form>
    <form action="" method="POST">
        <h2>
            Completed Tasks
        </h2>
        <% for( var i=0; i< completed.length; i++){ %>
            <li><input type="checkbox" name="check" value="<%= completed[i] %>" />
                <%= completed[i] %>
            </li>
            <% } %>
                <button formaction="/deleteToDo" type="submit">
                    Remove
                </button>
    </form>
</body>

</html>